<section class="footer">
    <footer>
       



<div class = "footer_div">  
           
Copyright &copy; {{ site.title }} 2022-~   </div>         

<div class = "footer_div">  
	Theme by <a href="https://github.com/touchingwang">touchingwang</a> |
            <!--<iframe
                style="margin-left: 2px; margin-bottom:-5px;"
                frameborder="0" scrolling="0" width="91px" height="20px"
                src="https://ghbtns.com/github-btn.html?user=MengZheK&repo=BlogDemo&type=star&count=true" >
            </iframe>|-->
<img src="https://s1.ax1x.com/2022/12/06/zclc0e.png" width="36" height="32" alt="photos" style="display:inline;margin-bottom: -5px;"/>              
      	

<!-- 访问统计 -->

<div class = "footer_div">
    			
<link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css">
 
Total <span id="busuanzi_value_site_pv"></span> views.  
您是我的第<span id="busuanzi_value_site_uv"></span> 个访客.

          </span>
        </div>
    </footer>
</section>

<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js">
</script>




